/*!
 * Copyright (c) 2019 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/
@import '~eclipsefdn-solstice-assets/less/quicksilver/styles.less';

@import '_variables.less';

h1 {
  font-weight: bold;
  color: rgb(245, 147, 49);
}

h1#join-us {
  color: #4c4d4e;
}

.eclipsefdn-members-list {
  a {
    max-width: 135px;
    img.logos.img-responsive {
      max-width: 140px;
    }
  }
}

.featured-footer.featured-story-dark {
  background-color: #0f2c5c;
}
