<!-- Member logos -->
<div class="margin-top-20">
  <h2 class="heading-line text-center" style="color:rgb(245,147,49); font-weight: bold;">Our Members</h2>
  <div class="container-fluid text-center">
    <ul 
      class="eclipsefdn-members-list list-inline margin-30 flex-center gap-50" 
      data-id="openmobility"
      data-type="interest-group"
      data-ml-template="only-logos">
    </ul>
  </div>
</div>
