<div class="margin-top-40" style="padding: 35px; background: white;">
  <p><img src="images/gears.svg" width="200px" alt="gears" style="pointer-events:none; margin-bottom: 20px;float:left">
    Mobility modelling and traffic simulation technologies are important tools for <b>testing autonomous driving functions</b>, developing <b>new mobility solutions</b> and for creating <b>digital twins</b> of urban areas. This group shapes and fosters the development of required software tools and frameworks based on validated mobility models in order to provide a common platform for industrial applications and academic research.<br><br>
    <a href="{{ "/vision/" | relURL }}"><button type="button" class="btn btn-secondary" style="margin-bottom:5px;">Read our Vision</button></a>
</div>